@use '../../scss/abstracts/' as *;

.todo-options {
	--opacity: 0.4;
	background-color: var(--element-bg);
	padding: 1rem 1.5rem;
	@include flex(space-between, center);

	&__counter {
		font-family: var(--ff-primary);
		color: var(--body-text);
		opacity: var(--opacity);
	}

	&__clear {
		background: transparent;
		border: none;
		color: var(--body-text);
		font-family: var(--ff-primary);

		&:not(:hover) {
			opacity: var(--opacity);
		}
	}
}
