@use '../../scss/abstracts/' as *;

.header {
	--padding: 6rem 2.5rem;
	@include flex(space-between, center);

	&__logo {
		font: {
			family: var(--ff-heading);
			size: 3rem;
			weight: var(--fw-extrabold);
		}
		color: var(--clr-neutral-100);
		letter-spacing: 1.25rem;
	}

	&__theme-switcher {
		background: transparent;
		border: none;

		@include pseudo() {
			aspect-ratio: 1;
			inset: -0.5rem;
			z-index: -1;
			background: var(--clr-neutral-600);
			opacity: 0.5;
			border-radius: 50%;
			transition: transform 200ms ease;
		}
		&:not(:hover, :focus-visible)::before {
			transform: scale(0);
		}
	}
}
