@use '../../scss/abstracts/' as *;

.header {
	--padding: 6rem 2.5rem;
	@include flex(space-between, center);

	&__logo {
		font: {
			family: var(--ff-heading);
			size: 3rem;
			weight: var(--fw-extrabold);
		}
		color: var(--clr-neutral-100);
		letter-spacing: 1.25rem;
	}

	&__theme-switcher {
		background: transparent;
		border: none;
	}
}
